[Unit]
Description=Sync Firefox profile in memory to disk

[Timer]
OnStartupSec=1h
OnUnitInactiveSec=1h
Persistent=true

[Install]
WantedBy=default.target
